.build/
dist/
dist-transpiled/
generated/
public/
temp/
node_modules/

rollup.config.js
ngcc.config.js
*.md

packages/unsupported-browsers/src/*
packages/unsupported-browsers/demo/public/assets/js/baloise-unsupported-browsers.js
packages/pipes/src/index.ts
packages/utils/src/utils/index.ts
packages/validators/src/index.ts
packages/pipes-angular/src/pipes.ts
packages/validators-angular/src/validators.ts
