.build/
dist/
dist-transpiled/
generated/
public/
temp/

rollup.config.js
ngcc.config.js
tsconfig.json

packages/pipes/src/index.ts
packages/utils/src/utils/index.ts
packages/validators/src/index.ts
packages/pipes-angular/src/pipes.ts
packages/validators-angular/src/validators.ts
